body{
    background-color:black;
    color: white;
    font-family: 'Poppins';
}
h1{
    color: white;
    font-family: 'Poppins';
    text-align: center;
}
.container{
    display: flex;
    justify-content: center; 
    align-items:center; 
}
@media (min-width:1201px) and (max-width: 1600px){
    #grp{
        height: 200px;
    }
}
@media (min-width: 319px) and (max-width: 480px){
    #grp{
        height: 15%;
    }
}

#grp{
    border: 2px solid white;
    padding: 2px;
}
.people{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 250px;
    border: 2px solid white;
    padding: 2px;
}
h3{
    clear: left;
}
